body,html{  
    width: 100%;    
    height: 100%;   
     margin: 0;
} 
body{
    position: relative;
}
header{ 
    position:fixed;
    color:black;
    background-color:#000;
    border-color: #080808; 
    height: 50px;   
    border: 0px; 
     width:100%;
     padding-top:1em;
     top:0;
     left:0;
     z-index:100;
     border-bottom:5px;
 }
nav a:hover{
    color: #ac2925;
}
nav{
    float:none;
}
#logo{
    padding-right:30vw;
}
.para{
    font-family: 'Roboto', sans-serif;
    line-height:2em;
    background-color:white;
    box-decoration-break: clone;
    display:inline;
    padding: 0 5px;
}
a{   
    text-decoration: none;
    max-width:100%;
}
.logo{
     font-size: 20px; 
     font-weight: bold; 
     font-family: 'Carter One', cursive;
     color: rgba(243, 9, 9, 0.836);
}
.header-link{
     height: 50px;
     font-size:16px; 
     font-weight: bold;
     padding-right:2em;
     color:white;
}
ul{
    max-width:100%;
}
li{
    display: inline;
    color:white;
}
.banner-image{
    width:100%;
    padding-bottom: 50px;
    margin-bottom: 20px;
    margin-top:20px;
    text-align: center;
    color: #f8f8f8;
    background: url("img/banner3.jpg") no-repeat center;
    background-size: cover; 
    height:100%;
    max-width:100%;
}
.inner-banner-image{
    padding-top: 12%;
    width:50%;
    margin:0;
    text-align:center;
    padding-left:25%;
    padding-right:25%;
}
.banner-content{
    text-align:center;
  padding-top: 6%;
  padding-bottom: 6%;
  overflow-x:hidden;
  margin-bottom: 12%;
  background-color: rgba(109, 106, 106, 0.589);
  max-width:100%; 
}
.button{
     color: #fff;
     background-color: #c9302c;
     border-color: #ac2925;
     box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
     padding: 10px 16px;
     font-size: 18px;
     border-radius: 6px; 
}
.parent{
    width:100%;
    display:flex;
   flex-wrap:wrap;
}
.items{
    flex:1;
    background-color:grey;
    /* padding: 4px;
     margin-bottom: 20px;
     line-height: 1.42857143;
     background-color:grey;
     border: 1px solid #ddd;
     border-radius: 4px;
     float:left;
     margin-left:1%; */
}
.thumbnail{
     display: block;
     max-width: 100%;
     height:330px;
}
.thumbnail1{
    display: block;
     max-width: 100%;
     height:330px;
     width:100%;
}
.caption{
    color:#000;
    padding:0px 10px 10px;
    font-weight: bold;
    text-align: center; 
}
 h2{
     text-align:center;
     color:rgb(0, 2, 20);
      margin: 0;
      font-family: 'Luckiest Guy', cursive;
      font-size:40px;
      margin-top:10px;
 }
 h4{
    font-family: 'Anton', sans-serif;
    font-size:18px;
    color: #470806;
 }
.topbrand{
    display:flex;
    background-color: #dcd8f1;
    width:100%;
    justify-content:center;

}
.brand{
    height:300px;
    max-width:100%;
}
.img1,.img2,.img3{
  flex:1;
  text-align:center;
}
.cat{
    display:flex;
    background-color: #dcd8f1;
    width:100%;
    justify-content:center;
}
.category{
    height:300px;
    max-width:100%;
}
.cat1,.cat2,.cat3{
    flex:1;
    text-align:center;
}
h3{
    font-family: 'Oleo Script', cursive;
    color:rgb(224, 9, 153)
}
footer{
      background-color: #000;
      color:#fff;
      font-size:14px;
        width:100%;
        margin-top:10px;
        overflow-x:hidden;
        text-align:center;
        margin-left:0;
}
.fitems{
    margin:0;
    display:inline-block;
    float:none;
}
footer a{
    display:block;
    text-align:center;
    margin:0;
}
.fa {
    padding:20px;
    margin:0;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: #ffffff;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  
  .fa-android {
    background: #a4c639;
    color: white;
  }
  body,html{  
    width: 100%;    
    height: 100%;   
     margin: 0;
     /*overflow-x: hidden;*/
} 
body{
    position:relative;
}
@media screen and (max-width:1044px)
{
    .banner-image{
        background-size:100%;
        width:100%;
        height:auto;
    }
    body,html{
        height:100%;
        max-width:100%;
         margin:0;
         /*overflow-x:hidden;*/
         position:relative;
     }
}
@media screen and (max-width:860px)
{
#logo{
    padding-right:7vw;
    font-size:20px;
}
.logo{
    padding-right:7vw;
}
.header-link{
    font-size:13px;
}
}   
@media screen and (max-width:680px)
{
    #logo{
        padding-right:12vw;
        font-size:20px;
    }
    .logo{
        padding-right:12vw;
    }
    header{
        background-color:rgba(250, 241, 241, 0.432);
        padding:0;
    }
   /* #menu-icon{
            background: url("img/menu.png");
            background-size:25px;
            width:20%;
            height:25px;
            float:right;
    }
    nav ul,nav:active ul{
        display:none;
        float:right;
        background: #740905;
        margin:0;
        padding:0;
    }
    
    nav:hover ul{
        display:block;
    }
    nav li{
        display:block;
        text-align:center;
        padding:15px 0;
        margin:0;
        height:100%;
    }*/
    nav{
        float:none;
        width:100%;
        background-color: #857373;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width:100%;
        float:none;
    }
    
    li a {
        display: inline;
        color: #000;
        text-decoration: none;
    }
    .header-link{
       padding-right:6px;
       font-size:12px; 
       height: 20px;
    }
    .banner-image{
        background-size:100%;
        width:100%;
        height:auto;
    }
    .parent{
        flex-direction: column;
    }
    .thumbnail,.thumbnail1{
        width:100%;
    }
    .topbrand{
        flex-direction:column;
    }
    .cat{
        flex-direction:column;
    }
    .fa {
        padding:0;
        margin:10px;
        font-size: 30px;
        width:100%;
    }
    body,html{
        height:100%;
        max-width:100%;
         margin:0;
        /* overflow-x:hidden;*/
     }
     body{
         position: relative;
     }
}
@media screen and (max-width:560px)
{
.logo{
    padding-right:4vw;
    font-size:18px;
    }
.header-link{
    padding-right:3px;
    font-size:10px; 
    height: 15px;
}

   /* #menu-icon{
    float:right;
    background-size:25px;
    height:25px;
    width:25px;*/
body,html{
    max-width:100%;
     margin:0;
     /*overflow-x: hidden;*/
 }
 body{
     position:relative;
 }
}
@media screen and (max-width:400px)
{
    #logo{
        padding-right:3vw;
    }
    .logo{
        padding-right:2vw;
        font-size:13px;
    }
    .header-link{
        padding-right:3px;
        font-size:10px; 
        height: 15px;
    }
    .fa {
    
        padding:10%;
        margin:0;
        font-size: 30px;
        width:100%;
    }
    body,html{
        max-width:100%;
         margin:0;
         padding:0;
     }
     body{
         position: relative;
     }
}
